.card{
    width: 100%;
    margin-top: 50px;
    background: rgba(255,255,255,0.2);
    color: white;
    margin-bottom: 30px;
    .card-header{
        display: flex;
        padding: 5px 10px;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 15px;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
    .card-image{
        img{
            width: 100%;
        }
    }

    .card-title{
        p{
            padding: 20px 20px;
            margin: 0;
            font-size: 15px;
        }
    }
}